@page
@model SistemaDeNotificacao.Pages.EventCRUD.CreateModel
@{
    ViewData["Title"] = "Criar Evento";
}

<h1>Criar Evento</h1>

<form method="post">
    <div class="form-group">
        <label asp-for="Evento.Titulo"></label>
        <input asp-for="Evento.Titulo" class="form-control" />
        <span asp-validation-for="Evento.Titulo" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Evento.DataEvento"></label>
        <input asp-for="Evento.DataEvento" type="date" class="form-control" />
        <span asp-validation-for="Evento.DataEvento" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Evento.Descricao"></label>
        <textarea asp-for="Evento.Descricao" class="form-control"></textarea>
        <span asp-validation-for="Evento.Descricao" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-success">Salvar</button>
    <a asp-page="Index" class="btn btn-secondary">Cancelar</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
